// teacher colors
.teacher-color{
color: $teacher-color;
}
.teacher-bg{
background-color: $teacher-color;
}
.teacher-hover{
   border: 3px solid transparent;
   border-bottom: 0px solid transparent;
   &:hover{
      box-sizing: border-box;
      border: 3px solid $teacher-color;
      box-shadow: 8px 17px 15px lighten($teacher-color,20%);
   }
}

//  student
.student-color{
color: $student-color;
}
.student-bg{
background-color: $student-color;
}
.student-hover{
        border: 3px solid transparent;
   border-bottom: 0px solid transparent;


   &:hover{
      box-sizing: border-box;
      border: 3px solid $student-color;
      box-shadow: 8px 17px 15px lighten($student-color,14%);
   }
}

// suppervisor account

.suppervisor-color{
color: $suppervisor-color;
}
.suppervisor-bg{
background-color: $suppervisor-color;
}
.suppervisor-hover{
        border: 3px solid transparent;
   border-bottom: 0px solid transparent;


   &:hover{
      box-sizing: border-box;
      border: 3px solid $suppervisor-color;
      box-shadow: 8px 17px 15px lighten($suppervisor-color,20%);
   }
}

// parent account
.parent-color{
color: $parent-color;
}
.parent-bg{
background-color: $parent-color;
}
.parent-hover{
        border: 3px solid transparent;
        border-bottom: 0px solid transparent;


   &:hover{
      box-sizing: border-box;
      border: 3px solid $parent-color;
      box-shadow: 8px 17px 15px lighten($parent-color,20%);
   }
}

// section steps
#account-steps{
   width: 80%;
   margin: 0 auto;
   margin-top: 40px;
}