.feature2{
    background: url(../img/feature2-bg.svg) no-repeat left top;
    background-size: cover!important;
    margin-top: 0px !important;
    padding-top: 70px;
    padding-bottom: 4rem;
    .section-header {
       h3 {
         color: #ffffff;
          }
       p {
         color: #ffffffba !important;
          }
   }

   .feature2-feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
   .feature2-img{
      width: 100%;
      height: auto;
   }
   .feature-item {
      display: flex;
      align-items: center;
      margin-top: 40px;
      &:hover img {
    vertical-align: middle;
    border-style: none;
    transition: ease-in-out 0.3s;
    transform: scale(1.5) rotate(9deg);

    }
      .feature-item-text{
         color: rgba(255, 255, 255, 0.858);
      }
      .feature-item-img{
       background-color: #ffffff;
    box-shadow: 1px 15px 7px #5466cf5c;
    min-width: 6rem;
    min-height: 6rem;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

      
    img{
    width:  2rem;
    height: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    }
    }
   }
   .feature-item-header {
      color: white;
    font-size: 1.5rem;
    font-weight: bold;
   }
}