.feature1{
       background: url("../img/feature1-bg.svg") no-repeat left top;
       background-size: cover;
   .feature1-feature-list {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   .feature1-img{
      width: 100%;
      height: auto;
   }
   .feature-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    &:hover img {
    vertical-align: middle;
    border-style: none;
    transition: ease-in-out 0.3s;
    transform: scale(1.5) rotate(9deg);

    }
    .feature-item-img{
    min-width: 6rem;
    min-height: 6rem;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
    width:  2rem;
    height: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    }
    }
   }
   .feature-item-header {
    font-size: 1.5rem;
    font-weight: bold;
   }
}