.screenshot {
    width: 90%!important;
    height: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 13px;
    opacity: 1;
}
.screenshot:nth-child(3){
   opacity: 1;
   
}
.sc-caro{
   position: relative;
   max-width: 80%;
   margin: auto;

}
img.iphone-sc {
    position: absolute;
    bottom: 3%;
    left: 40%;
    width: 20%;
}