.testimonial{
       background: url("../img/ti.png") no-repeat left top;
       background-size: contain;

}

.caousel-card {
    margin: 30px 300px!important;
    background: white;
    border-radius: 20px;
    box-shadow: -14px 13px 30px #2f69fc36;
    text-align: center;
    height: 100%;
    min-height: 280px;
    padding: 50px;
}
blockquote:before{
   color: $secoundary-color;
}

.carousel-control-prev {
    right: 150px;
    height: 50px;
    margin: auto 0;
    width: 50px;
    border-radius: 50%;
}
.carousel-control-next {
    left: 150px;
    height: 50px;
    margin: auto 0;
    width: 50px;
    border-radius: 50%;
}
.user-container {
    img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    width: 100%;
    display: flex;
    justify-content: center;
        align-items: center;

    h6 {
        text-align: right;
        font-size: 1rem;
        margin-top: 20px;
        color: #4b6ed0;
        font-weight: bold;
    }
    
}
.carousel-indicators li {
    background-color: gray;
    margin-top: -20px;  
}

.carousel-indicators .active{
    
    background-color: $secoundary-color;
}

.user-info h6 {
    text-align: right;
}

.user-info span {
    text-align: right;
    color: #8f8f8f;
}
.fa-quote-right{
    color: $secoundary-color;
    font-size: 2rem;
    margin: 2rem;
}