// colors
$primary-color: #22cae6;
$secoundary-color: #5363d2;
$main-text-color:#455B89!important;
$main-bg-color:#F0F5FC;
$red-g: linear-gradient(180deg, #FF6969, #C45858);
$dark-gray:#707070;
$teacher-color:#FD6969;
$parent-color:#7397FF;
$suppervisor-color:#57D464;
$student-color:#FDA085;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$my-font :"Tajawal","cairo";