@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
html {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  scroll-behavior: smooth;
}

html img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Tajawal", "cairo";
  background-color: #F0F5FC;
}

body .t-wrapper {
  background: #F0F5FC url("../img/hero-bg@2x.png") no-repeat left top;
}

body .t-h1-secoundary {
  color: #5363d2;
  font-weight: bolder;
  font-size: 3rem;
}

body .t-h2-secoundary {
  color: #455B89 !important;
  font-weight: bolder;
  font-size: 1.5rem;
}

body .t-p {
  font-size: 100%;
}

body .t-btn {
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50px !important;
  border: 3px solid #ccd1f2;
}

body .t-btn:hover {
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 13px #ccd1f2;
          box-shadow: 3px 4px 13px #ccd1f2;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

body .t-btn .btn-icon {
  max-height: 20px;
  margin-left: 10px;
  width: auto;
}

body .t-btn-blue-g {
  background: -webkit-gradient(linear, left top, left bottom, from(#22cae6), to(#5363d2)) !important;
  background: linear-gradient(180deg, #22cae6, #5363d2) !important;
}

body .t-btn-red-g {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6969), to(#C45858)) !important;
  background: linear-gradient(180deg, #FF6969, #C45858) !important;
}

body section {
  margin-top: 100px;
}

body section .section-header {
  text-align: center;
  font-weight: bold;
}

body section .section-header h3 {
  color: #5363d2;
  font-size: 2.5rem;
  font-weight: bold;
}

body section .section-header p {
  color: #455B89 !important;
  max-width: 50%;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .t-card {
  position: relative;
  background: white;
  padding-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 5px 15px #00000026;
          box-shadow: 1px 5px 15px #00000026;
  min-height: 400px;
}

body .t-card .t-card-title {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
}

body .t-card img {
  width: auto;
  max-height: 150px;
}

body .t-card p {
  max-width: 100% !important;
  padding: 10px;
  padding-bottom: 30px;
  color: #707070 !important;
  font-size: 0.9rem;
  font-weight: 400;
}

body .t-card .t-card-footer {
  width: 50%;
  min-width: 50%;
  min-height: 20px;
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  right: 22%;
}

body .download-text h6, body span {
  color: white;
}

circle {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
          animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

nav {
  -webkit-box-shadow: 15px 7px 20px 6px #93939333;
          box-shadow: 15px 7px 20px 6px #93939333;
}

.t-navbar {
  z-index: 9999;
  position: fixed !important;
  top: 0;
  width: 100%;
  line-height: 2em;
  font-family: 'Tajawal';
  font-weight: 600;
  font-size: 1.2rem;
  background-color: white;
}

.t-navbar .navbar-toggler {
  color: #5363d2 !important;
  border: #5363d2 !important;
}

.t-navbar .nav-item {
  margin: 10px;
  border-radius: 20px;
}

.t-navbar .nav-item .active {
  border-radius: 20px;
  background: #F0F5FC;
}

.t-navbar .nav-item a {
  color: #455B89 !important;
}

.t-navbar .nav-item:hover {
  background: #F0F5FC;
}

.t-navbar .nav-link {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.t-navbar .site-logo {
  padding: 10px;
  height: 4em;
}

.t-navbar .nav-link li a {
  margin: 1em;
}

.t-hero .hero-img {
  width: 130%;
  direction: rtl;
  margin-right: -300px;
}

.t-hero .t-hero-left {
  margin: auto;
  padding-bottom: 160px;
}

.t-hero .scroll-down {
  cursor: pointer;
  max-width: 43px;
  margin: 0 auto;
  margin-right: 48%;
  margin-top: -200px;
  outline: none;
}

.t-hero .scroll-down:hover {
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
}

.teacher-color {
  color: #FD6969;
}

.teacher-bg {
  background-color: #FD6969;
}

.teacher-hover {
  border: 3px solid transparent;
  border-bottom: 0px solid transparent;
}

.teacher-hover:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #FD6969;
  -webkit-box-shadow: 8px 17px 15px #fecece;
          box-shadow: 8px 17px 15px #fecece;
}

.student-color {
  color: #FDA085;
}

.student-bg {
  background-color: #FDA085;
}

.student-hover {
  border: 3px solid transparent;
  border-bottom: 0px solid transparent;
}

.student-hover:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #FDA085;
  -webkit-box-shadow: 8px 17px 15px #fed7cb;
          box-shadow: 8px 17px 15px #fed7cb;
}

.suppervisor-color {
  color: #57D464;
}

.suppervisor-bg {
  background-color: #57D464;
}

.suppervisor-hover {
  border: 3px solid transparent;
  border-bottom: 0px solid transparent;
}

.suppervisor-hover:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #57D464;
  -webkit-box-shadow: 8px 17px 15px #a8e9af;
          box-shadow: 8px 17px 15px #a8e9af;
}

.parent-color {
  color: #7397FF;
}

.parent-bg {
  background-color: #7397FF;
}

.parent-hover {
  border: 3px solid transparent;
  border-bottom: 0px solid transparent;
}

.parent-hover:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #7397FF;
  -webkit-box-shadow: 8px 17px 15px #d9e3ff;
          box-shadow: 8px 17px 15px #d9e3ff;
}

#account-steps {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.feature1 {
  background: url("../img/feature1-bg.svg") no-repeat left top;
  background-size: cover;
}

.feature1 .feature1-feature-list {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature1 .feature1-img {
  width: 100%;
  height: auto;
}

.feature1 .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.feature1 .feature-item:hover img {
  vertical-align: middle;
  border-style: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scale(1.5) rotate(9deg);
          transform: scale(1.5) rotate(9deg);
}

.feature1 .feature-item .feature-item-img {
  min-width: 6rem;
  min-height: 6rem;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature1 .feature-item .feature-item-img img {
  width: 2rem;
  height: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.feature1 .feature-item-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.feature2 {
  background: url(../img/feature2-bg.svg) no-repeat left top;
  background-size: cover !important;
  margin-top: 0px !important;
  padding-top: 70px;
  padding-bottom: 4rem;
}

.feature2 .section-header h3 {
  color: #ffffff;
}

.feature2 .section-header p {
  color: #ffffffba !important;
}

.feature2 .feature2-feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature2 .feature2-img {
  width: 100%;
  height: auto;
}

.feature2 .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.feature2 .feature-item:hover img {
  vertical-align: middle;
  border-style: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scale(1.5) rotate(9deg);
          transform: scale(1.5) rotate(9deg);
}

.feature2 .feature-item .feature-item-text {
  color: rgba(255, 255, 255, 0.858);
}

.feature2 .feature-item .feature-item-img {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 15px 7px #5466cf5c;
          box-shadow: 1px 15px 7px #5466cf5c;
  min-width: 6rem;
  min-height: 6rem;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature2 .feature-item .feature-item-img img {
  width: 2rem;
  height: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.feature2 .feature-item-header {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.cta {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/cta-bg.svg) no-repeat center center;
  background-size: contain;
}

.cta a {
  text-decoration: none;
}

.cta h2 {
  color: #5063d0;
  font-size: 40px;
  font-weight: bold;
}

.cta .buttons-container {
  padding-left: 14vw;
  padding-right: 14vw;
}

.cta .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 5px 15px #4487d85e;
          box-shadow: 1px 5px 15px #4487d85e;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.cta .download:hover img {
  vertical-align: middle;
  border-style: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scale(1.3) rotate(11deg);
          transform: scale(1.3) rotate(11deg);
}

.cta .download:hover {
  opacity: 0.8;
}

.cta .download-icon {
  max-width: 50px;
  margin-left: 20px;
}

.testimonial {
  background: url("../img/ti.png") no-repeat left top;
  background-size: contain;
}

.caousel-card {
  margin: 30px 300px !important;
  background: #eef4fc;
  border: 3px solid #5264d2;
  border-radius: 20px;
  -webkit-box-shadow: -14px 13px 30px #2f69fc36;
          box-shadow: -14px 13px 30px #2f69fc36;
  text-align: center;
  height: 100%;
  min-height: 280px;
  padding: 50px;
}

blockquote:before {
  color: #5363d2;
}

.carousel-control-prev {
  right: 150px;
  height: 50px;
  margin: auto 0;
  width: 50px;
  border-radius: 50%;
}

.carousel-control-next {
  left: 2rem;
  height: 50px;
  margin: auto 0;
  width: 50px;
  border-radius: 50%;
}

.user-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.user-container h6 {
  text-align: right;
  font-size: 1rem;
  margin-top: 20px;
  color: #4b6ed0;
  font-weight: bold;
}

.carousel-indicators {
  bottom: 0rem;
}

.carousel-indicators li {
  background-color: gray;
}

.carousel-indicators .active {
  background-color: #5363d2;
}

.user-info h6 {
  text-align: right;
}

.user-info span {
  text-align: right;
  color: #8f8f8f;
}

.fa-quote-right {
  color: #5363d2;
  font-size: 2rem;
  margin: 2rem;
  margin-left: 70%;
}

.caousel-card {
  width: 45% !important;
  margin-left: 2rem !important;
}

@media (max-width: 576px) {
  img.iphone-sc {
    position: absolute !important;
    bottom: 0% !important;
    left: 0% !important;
    width: 100% !important;
    margin: 0px auto;
    height: 78%;
  }
  .hero-img {
    width: 80% !important;
    direction: rtl;
    margin-right: 3rem !important;
  }
  .t-h1-secoundary {
    margin-top: 2rem;
  }
  .t-hero .scroll-down {
    display: none;
  }
  .t-hero-left {
    padding-bottom: 0px !important;
  }
  .section-header p {
    max-width: 90% !important;
  }
  #account-steps {
    display: none;
  }
  .t-card {
    max-width: 22rem;
    margin: 22px 2rem !important;
  }
  .feature1-feature-list {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .feature2-img {
    display: none !important;
  }
  .feature2 {
    background: linear-gradient(45deg, #22cae6, #5363d2);
  }
  .caousel-card {
    max-width: 100%;
    margin: 2rem 2rem !important;
  }
  .carousel-control-prev {
    right: -1rem !important;
    z-index: 22;
  }
  .carousel-control-next {
    left: -1rem !important;
    z-index: 22;
  }
}

@media (min-width: 768px) {
  .hero-img {
    width: 130% !important;
    direction: rtl;
    margin-right: -300px !important;
  }
  .t-card {
    max-width: 100% !important;
    margin-bottom: 40px !important;
  }
  #account-steps {
    display: block;
  }
  .t-hero .scroll-down {
    display: block;
  }
  .feature1-feature-list {
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
  }
  .feature2-img {
    display: block !important;
  }
  .feature2 {
    background: url(../img/feature2-bg.svg) no-repeat left top;
  }
  .caousel-card {
    max-width: 100%;
    margin: 2rem 4rem !important;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel-control-prev {
    right: -70px !important;
  }
  .carousel-control-next {
    left: -70px !important;
  }
}

.sub-footer {
  background: #5363d2;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.footer {
  padding: 3rem;
}

.footer h6 {
  font-size: 2rem;
  color: white;
  direction: rtl;
  text-align: right;
}

.footer .btn.t-btn-blue-g {
  color: white;
  font-weight: bold;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding: 1rem;
}

.footer-logo {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  width: 2rem;
  margin-left: 11px;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links-container {
  color: white;
}

.links-container ul li a {
  direction: rtl;
  text-align: revert;
  float: right;
  font-weight: bold;
  color: white;
}

input.form-control {
  padding-right: 41px;
  border-radius: 0px 10px 10px 0px !important;
}

img.email-icon {
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 99;
}

.screenshot {
  width: 90% !important;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 13px;
  opacity: 1;
}

.screenshot:nth-child(3) {
  opacity: 1;
}

.sc-caro {
  position: relative;
  max-width: 80%;
  margin: auto;
}

img.iphone-sc {
  position: absolute;
  bottom: 3%;
  left: 40%;
  width: 20%;
}
/*# sourceMappingURL=index.css.map */